@font-face {
	src: url('../fonts/capture.ttf');
	font-family: 'Capture';
}


/*
	1. Navigation
	2. Carousel
	3. About
*/

body {
	animation: all .5s linear;
  color: #8b8b8b;
  overflow-x: hidden;
}

@keyframes all {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

// Navigation

.contacts-header {
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  color: black;
  background: white;
  &__number,
  &__email {
  	padding-left: 45px;
  }
  &__number,
  &__email {
  	border-right: .4px solid rgba(220, 220, 220, 0.62);
  	border-bottom: .4px solid rgba(220, 220, 220, 0.62);
  }
  &__email a {
  	color: black;
  }
  &__social {
  	border-bottom: .4px solid rgba(220, 220, 220, 0.62);
  }
}

.contacts-header__social {
	.facebook,
	.instagram {
		width: 30px;
    height: 20px;
    margin-top: 2px;
    display: inline-block;
	}
	.facebook {
		background: url('../img/facebook.svg') no-repeat center;
	}
	.instagram {
		background: url('../img/instagram.svg') no-repeat center;
	}
}

.phone:before,
.contacts-header__email:before {
  content: '';
  position: absolute;
  display: block;
  left: 20px;
  top: 4px;
  width: 25px;
  height: 17px;
  background: url(../img/phone.svg) center center no-repeat;
}

.contacts-header__email:before {
  background: url(../img/email.svg) center center no-repeat;
}

.navbar {
  position: fixed;
  top: 73px;
  z-index: 999;
  background: rgba(72, 71, 71, 0.92);
  box-shadow: 0 0 3px #00000069;
}

.nav-link {
	color: white !important;
}

.nav-link:hover {
	color: black !important;
}

// Carousel
.carousel {
	margin: 0 -15px;
	top: -25px;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background: rgba(0, 0, 0, 0.2);
}

.img-carousel {
  max-height: 615px;
  min-height: 615px;
  height: 100%;
	object-fit: cover;
}

.purchase-block {
	text-align: center;
	&__img {
		margin-bottom: 20px;
		max-width: 150px;
	}
	h5 {
    word-wrap: break-word;
	}
	p {
		font-size: .9rem;
	}
}

.rainbow-roller {
	transition: top 0.2s linear, height 1s linear, background 1s linear;
}

.hideUp {
  min-height: 0;
  height: 35px;
  top: 27px;
  background: rgba(0, 0, 0, 0.89);
  animation: all .3s linear;
}

.detail-block {
  position: absolute;
  top: 50%;
  left: 10%;
  max-width: 450px;
  padding: 10px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 4px #000;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.51);
  h2 {
  	font-family: 'Capture';
  }
  h2:first-letter {
  	color: orange;
  }
  p {
		font-size: 1.2rem;
  }
}

// About
.block-about {
	margin-bottom: 15px;
	text-align: center;
	a {
		border: 2px solid #b1b1b1;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    color: #000;
    &:hover {
			text-decoration: none;
    }
	}
}

@media screen and (max-width: 767px) {
	.purchase {
		margin-bottom: 5px;
	}

	.navbar {
		top: 24px;
	}

	.hideUp {
    min-height: auto;
    height: auto;
	}
}

@media screen and (max-width: 575px) {
		
	.navbar {
		top: 77px;
	}

	.hideUp {

	}
}
